@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
  width: 70%;
  height: 100vh;
  position: relative;
  justify-content: right;
  float: right;
  /* display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #ccc; */

}

/* .markercluster-map {
    height: 90vh;
  } */
